<!-- {% extends 'base.html' %}

{% block content %}  -->
<div width="20%", height="300%">
<br>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<sript src="static/admin-lte/plugins/datatables/jquery.dataTables.js"></sript> 

<h2>Asset List</h2>
<div class="card">
  <div class="card-body">
<table id="asset-table" class="table table-striped" width="50%", height="20%">
    <thead>
        <tr>          
            <th>ID</th>
            <th>asset_name</th>
            <th>asset_code</th>
            <th>asset_type</th>
            <th>is_active</th>
            <th>created_at</th>
            <th>updated_at</th>
            <th>image</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  </div>
  </div>   
  


<script>
    $(document).ready(function() {
        $('#asset-table').DataTable({ 
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'assets_data' %}",
            "columns": [
                {"data": "id"},
                {"data": "asset_name"},
                {"data": "asset_code"},
                {"data": "asset_type"},
                {"data": "is_active"},
                {"data": "created_at"},
                {"data": "updated_at"},

      {
  "data": '_prefetched_objects_cache',
  render: function(data, type, row) {
    var imageHTML = '';
    var listdata = data.split(",")
    if ( listdata.length > 0) {
      for (var i = 0; i < listdata.length; i++) {
        var url = listdata[i].lastIndexOf(".jpeg")
        var imageUrl ='/'+ listdata[i].slice(64, url+5);
        imageHTML = '<img src="' + imageUrl + '" alt="Image" width="50" height="50">';
        // return listdata[i].slice(63)
      }
    }
    return imageHTML;
  }
},
            {
    "data": null,
    "render": function(data, type, row) {
      return '<button class="btn btn-primary update-btn" data-id="' + row.id + '">Update</button>'+
      '<button class="btn btn-danger delete-btn" data-id="' + row.id + '">Delete</button>';
    }
  },

]
});
  
});
$('#asset-table').on('click', '.update-btn', function() {
        var assetId1 = $(this).data('id');
    
        window.location.href = '' + assetId1 + '/update/';
      });

// Delete Record
$('#asset-table').on('click', '.delete-btn', function() {
var assetId = $(this).data('id');
var confirmation = confirm('Are you sure you want to delete this record?');
if (confirmation) {
$.ajax({
url: '/assets/' + assetId + '/delete/',
type: 'POST',
data: {
csrfmiddlewaretoken: '{{ csrf_token }}'
},
success: function(response) {
alert('Record deleted successfully.');
$('#asset-table').DataTable().ajax.reload();
},
error: function(xhr, status, error) {
alert('An error occurred while deleting the record.');
}
});
}
});
</script>  

<br><script>
    function visitPa(){
      window.location.href = '/assets/create/';
    }
  </script><button onclick="visitPa();">CreateAsset</button></br>
  {%if error%}
  {{error}}
  {%endif%}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script></div>
 <!-- {% endblock %}  -->
