<!-- {% extends 'base.html' %} -->

<!-- {% block content %} -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<sript src="static/admin-lte/plugins/datatables/jquery.dataTables.js"></sript> 

<h2>Image List</h2>
<table id="image-table" class="table table-striped">
    <thead>
        <tr>          
            <th>ID</th>
            <th>asset</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#image-table').DataTable({ 
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'image_data' %}",
            "columns": [
                {"data": "id"},
                {"data": "asset"},
      {
  "data": 'image',
  render: function(data, type, row) {
        var imageUrl = "/"+data;
        var imageHTML = '<img src="' + imageUrl + '" alt="Image">';
        return imageHTML ;
        // return data;
      }
    },
]
 });

 });

// </script> 
<!-- {% endblock %} -->
